@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.92);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
